page-landing {
    @import url('https://fonts.googleapis.com/css?family=Nunito:800');
    .toolbar-background {
        background-color:  rgb(0, 162, 255);
    }
    .toolbar-title {
        color: white;
    }
   

    div#mainBackground {
        // background-image: url('../assets/imgs/bluebackground.jpg');
        background-image: url("https://source.unsplash.com/user/eyyisac/likes/2000x1000");
        background-position: center;
        background-size: cover;
        overflow: auto;
        position: fixed;  
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    div#moto {
        font-size: 3.0rem;
        color: white;
        padding: 10px;
    }
    div#mainBackgroundTint {
        // background-image: url('../assets/imgs/bluebackground.jpg');
        opacity: 0.5;
        background-color: black;
        background-position: center;
        background-size: cover;
        overflow: auto;
        position: fixed;  
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    ion-grid#signUpGrid {
        height: 100%;
        width: 100%;
    }

    // ion-row#signup-row{
    //     height: 100%;
    // }

    div#appLogo{
        margin-left: auto;
        margin-right: auto;
        width: 200px;
    }

    div#appLogo img{
        height: 30%;
        text-align: center;
    }

    .brand-name {
        font-family: Nunito, Arial, San-Serif;
        font-weight: 800;
        font-size: 2.5em;
        text-align: center;
        color: white;
    }

    ion-col#inputPane form{
        padding: 0px;
        
    }

    ion-col#inputPane #signUpForm {
        // padding: 20px;
        margin: 5px 0px 5px 0px;
        width: 100%;
    }

    ion-col#inputPane form ion-item{
        padding-left: 10px;
    }

    .like-label{
        margin: 9px 0px 10px 0px;
        display: inline-block;
        // color: #edecec;
        color: white;
    }

    .green-button{
        background-color:#12b003; 
        margin-top: 15px;
    }

}
