<!-- Generated template for the ChatroomcardsComponent component -->
<ion-card>
  <img src="https://source.unsplash.com/user/eyyisac/likes/200x200?sig={{course_id}}" />
  <ion-card-content>
    <ion-card-title >
      {{(course | async)?.name}}
    </ion-card-title>
    <p>
      Announcements will go here
    </p>
    <!-- <button ion-button color="secondary">Enter</button>
    <button ion-button color="secondary">Delete</button> -->
  </ion-card-content>

  <ion-row no-padding>
    <ion-col>
      <button ion-button clear small color="primary" (click)="enterChatroomDialog()" icon-start>
        <ion-icon name='chatboxes'></ion-icon>
        Enter
      </button>
    </ion-col>
    <ion-col text-center>
      <button ion-button clear small color="primary" (click)="deleteOrRemove()" icon-start>
        <ion-icon name='close'></ion-icon>
        Delete
      </button>
    </ion-col>
    <!-- <ion-col text-right>
      <button ion-button clear small color="danger" icon-close>
        <ion-icon name='share-alt'></ion-icon>
        Share
      </button>
    </ion-col> -->
  </ion-row>
</ion-card>