commentslist {
    button.vote-btns{
        margin-top: 0;
    }

    .instructorOptions{
        position: absolute;
        top: 0;
    }
    .timestamp{
        font-size: 1.1rem;
        color: rgb(101, 98, 98);
    }
    
    .points {
        text-align: center;
        font-weight: bold;
    }
}
