<!-- Generated template for the CommentslistComponent component -->
<!-- <ion-content>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" position="top">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
  <ion-list no-lines>
     <comment *ngFor="let comment of comments_to_display; trackBy: trackByFn" [comment_id]="comment.comment_id" [chatroom_id]="chatroom_id"></comment>
  </ion-list>
</ion-content> -->

<ion-content>
    <ion-list no-lines [virtualScroll]="comments_obvs | async" [approxItemHeight]="'20px'" [virtualTrackBy]="trackByFn">
        <ion-item *virtualItem="let comment; let i=index">
          <ion-item *ngIf="is_instructor" (mouseenter)="toggleTimestamp(i)" (mouseleave)="toggleTimestamp(i); visible[i]=false">
            <ion-avatar item-start>
              <img src="assets/imgs/logo.png">
            </ion-avatar>
            <h2>{{comment.username}}</h2>
            <p>{{comment.content}}</p>
            <ion-note item-end *ngIf="visible[i]">Sent Tuesday, 3:00pm</ion-note>
          </ion-item>
          
          <ion-item *ngIf="!is_instructor" (mouseenter)="toggleTimestamp(i)" (mouseleave)="toggleTimestamp(i); visible[i]=false">
            <ion-avatar item-start>
              <img src="assets/imgs/speakup-hand-logo.svg">
            </ion-avatar>
            <h2>Animal Name</h2>
            <p>{{comment.content}}</p>
            <ion-note item-end *ngIf="visible[i]">Sent Tuesday, 3:00pm</ion-note>
          </ion-item>
        </ion-item>
    </ion-list>
</ion-content>

<!-- <ion-content>

    <ion-list [virtualScroll]="items">

        <ion-item *virtualItem="let item">
            <ion-avatar item-left>
                <ion-img [src]="item.avatarUrl"></ion-img>
            </ion-avatar>

            <h2>{{item.title}}</h2>

            <p>{{item.body}}</p>
            <p>{{item.number}}</p>

        </ion-item>

    </ion-list>

</ion-content> -->