<ion-header>
  <!-- INSTRUCTOR NAV BAR -->
  <ion-navbar id="InstructorNavBar" *ngIf="is_instructor">
    <ion-title hideWhen="ios, android" class="home-navbar-title">
      <ion-row>
        <span col-md-6>
          <img class="logo-img" src="assets/imgs/speakup-hand-logo-white-navicon.svg">
          <span class="TitleDisplay">
            <button class="title-btn" ion-button clear (click)="goToIndex()">Speak Up</button>
          </span>
        </span>
        <span col-md-6 class="username-display">
          <button class="title-btn" ion-button clear (click)="goToMessagePage()">{{username}}</button>
        </span>
      </ion-row>
    </ion-title>

    <ion-title showWhen="ios, android" class="home-navbar-title">
      <img class="logo-img-mobile" src="assets/imgs/speakup-hand-logo-white-navicon.svg">
      <span col-md-6 class="username-display-mobile">
        <button class="title-btn" ion-button clear (click)="goToMessagePage()">{{username}}</button>
      </span>
    </ion-title>

    <ion-buttons end>
      <button ion-button>
        <ion-icon name="settings"></ion-icon>
      </button>
      <button (click)="signOut()" ion-button>
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>


  <!-- STUDENT NAV BAR -->
  <ion-navbar *ngIf="!is_instructor" id="StudentNavBar">
    <ion-title hideWhen="ios, android" class="home-navbar-title">
      <ion-row>
        <span col-md-6>
          <img class="logo-img" src="assets/imgs/speakup-hand-logo-white-navicon.svg">
          <span class="TitleDisplay">
            <button class="title-btn" ion-button clear (click)="goToIndex()">Speak Up</button>
          </span>
        </span>
        <span col-md-6 class="username-display">
          <button class="title-btn" ion-button clear (click)="goToMessagePage()">{{(user_obvs | async)?.username}}</button>
        </span>
      </ion-row>
    </ion-title>

    <ion-title showWhen="ios, android" class="home-navbar-title">
      <ion-row>
        <img class="logo-img-mobile" src="assets/imgs/speakup-hand-logo-white-navicon.svg">
        <span class="username-display-mobile">
          <button class="title-btn" ion-button clear (click)="goToMessagePage()">{{(user_obvs | async)?.username}}</button>
        </span>
      </ion-row>
    </ion-title>

    <ion-buttons end>
      <button ion-button>
        <ion-icon name="settings"></ion-icon>
      </button>
      <button (click)="signOut()" ion-button>
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <chatroomslist></chatroomslist>
  <!-- <ion-tabs>
    <ion-tab [root]="chatroomlist" tabTitle="Chatrooms" tabIcon="apps"></ion-tab>
    <ion-tab [root]="messages" tabTitle="Messages" tabIcon="mail"></ion-tab>
    <ion-tab [root]="messages" tabTitle="Notifications" tabIcon="notifications"></ion-tab>
    <ion-tab [root]="messages" tabTitle="Profile" tabIcon="person"></ion-tab>
  </ion-tabs> -->
</ion-content>