page-home {
    @import url('https://fonts.googleapis.com/css?family=Nunito:800');

    .title-btn {
        color:white;
        font-size: 1.8rem;
    }

    img.logo-img {
        top:13px;
        height: 25px;
        width: auto;
        padding: 0;
        position: absolute;
    }

    img.logo-img-mobile{
        height: 25px;
        width: auto;
        padding-right: 8px;
        top: 5px;
        position: absolute;
        left:10px;
        
    }

    ion-navbar#InstructorNavBar div.toolbar-background {
        background-color: $instr-color;
      }

    .toolbar-title {
        color: white;
    }
    
    .home-navbar-title{
        font-family: Nunito, Arial, San-Serif;
    }

    .toolbar-background{
        background-color: $student-color;
    }

    .username-display-mobile{
        margin-left: 15px;
    }

    .username-display{
       text-align: right;
    }

    .TitleDisplay{
        padding: 0 0 0 35px;
    }

    ion-icon {
        color: white;
    }
    ion-content.content-ios .scroll-content{
        padding: 0px !important;
    }

   ion-content.content-md .scroll-content{
        padding: 0px !important;
    }

    @media only screen and (min-width: 768px) {
        ion-content.content-md .scroll-content{
            padding: 16px !important;
        }
    }

}
