<!--
  Generated template for the ChatroomPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content padding>
  <ion-grid>
    <ion-row>
      <!-- Button that shows up on iOS and android -->
      <ion-col hideWhen="android, ios" *ngIf="is_instructor" id="ClassListPane" col-lg-3>
        <div id="StudentListTitle">
          <h2>Student List</h2>
          <img src="assets/imgs/placeholder-list.png"/>
        </div>
      </ion-col>

      <ion-col id="ChatPane" col-lg-9>
        <ion-header>
            
            <ion-navbar id="InstructorHeader" *ngIf="is_instructor">
            
              
              <ion-title>
                  <!-- <ion-buttons start> -->
                    <span>
                        <button color="light" ion-button clear hideWhen="android, ios" ion-start class="toggleChatList"><ion-icon name="people"></ion-icon></button>
                        <span class="center">
                          {{(course_obvs | async)?.name}}
                          <span hideWhen="android, ios" class="float-right"> Access Code: {{access_code_string}}</span>
                        </span>
                        
                    </span>
                      
                  <!-- </ion-buttons> -->
                
              </ion-title>
            </ion-navbar>
            <ion-navbar *ngIf="!is_instructor" text-center>
              <ion-title>{{(course_obvs | async)?.name}}</ion-title>
            </ion-navbar>
          </ion-header>
        <section id="CommentList">
          <commentslist [chatroom_id]="chatroom_id"></commentslist>
        </section>
        <form (ngSubmit)="addComment()">
          <ion-row>
            <ion-col col-md-11 col-lg-11>
              <ion-item>
                <ion-input id="CommentInput" type="text" placeholder="Type comments here..." name="comment_input" [(ngModel)]="comment_input"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-md-1 col-lg-1>
              <button ion-button type="submit">
                <ion-icon ios="ios-send" md="md-send"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>