$accent-color: #8ECB06;
$student-color: rgb(0,203,66);
$instr-color: #21aaf4;
page-chatroom {

    ion-header {
        position: relative;
        top: -5px;
    }

    .back-button {
        display: block;
    }

    .bar-button-solid{
        background-color: $accent-color;
    }

    .ion-start {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    ion-footer .ion-start {
        position: absolute;
        top: 3px;
        left: 10px;
    }
    
    ion-footer .ion-end{
        position: absolute;
        top: 3px;
        right: 10px;
    }

    ion-header ion-icon {
        color: white;
    }

    .scroll-content {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .grid {
        height: 100%;
        padding: 0;
    }

    .row{
        height: 100%;
    }
    
    .float-right{
        right: 0;
        position: absolute;
        padding-right: 10px;
    }

    .float-left{
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 20px;
        position: absolute;
    }

    span ion-icon {
        //margin-right: 20px;
        padding: none;
    }

    .inline-block {
        display: inline;
    }

    ion-navbar#InstructorHeader div.toolbar-title {
        color: white;
    }

    .toolbar-background {
        background-color: $accent-color;
    }
    
    // .toolbar-title {
    //     text-align: center;
    // }

    ion-toolbar#CommentInputToolbar div.toolbar-background {
        background-color: white;
    }

    ion-input#CommentInput{
        border: solid 1px #dbdada;
        border-top: 0;
        border-left: 0;
        position: absolute;
        padding-left: 50px;
        padding-right: 40px;
        top: 0;
    }

    #CommentInputToolbar ion-icon {
        font-size: 1.8em;
        position: fixed;
        bottom: 0;
    }

    #CommentList{
        width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        overflow-x: scroll;
    }

    ion-col#ClassListPane{
        width: 100%;
        background-color: #F7F7F7;
        padding: 0px 5px 5px 5px;
        font-size: 2.0rem;
        color: black;
    }

    ion-col#ClassListPane h2 {
        padding-top: 10px;
        font-size: 1em;
    }

    ion-col#ChatPane{
        width: 100%;
        height: 100%;
        padding: 0;
    }
     
}
