$accent-color: #8ECB06;
$student-color: rgb(0,203,66);
$instr-color: #21aaf4;
page-chatroom {
    ion-header {
        position: relative;
        top: -5px;
    }

    .scroll-content {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .grid {
        height: 100%;
    }
    .row{
        height: 100%;
    }
    
    .float-right{
        right: 0;
        position: absolute;
        padding-right: 10px;
    }
    // ion-navbar#InstructorHeader div.toolbar-background {
    //   background-color: $instr-color;
    // }

    //ion-navbar#InstructorHeader button.toggleChatList {
        // background-color: violet;
        // float: left;
    //}

    span ion-icon {
        margin-right: 20px;
        padding: none;
    }

    .inline-block {
        display: inline;
    }

    ion-navbar#InstructorHeader div.toolbar-title {
        color: white;
    }

    .toolbar-background {
        background-color: $accent-color;
    }
    
    // .toolbar-title {
    //     text-align: center;
    // }

    // #StudentListTitle{

    // }

    ion-input#CommentInput{
        border: solid 1px #dbdada;
        position: absolute;
        bottom: 0px;
    }

    #CommentList{
        width: 100%;
        height: 60vh;
        background-color: rgb(255, 255, 255);
        overflow-y: auto;
    }

    ion-col#ClassListPane{
        width: 100%;
        background-color: #F7F7F7;
        padding: 5px;
        font-size: 2.0rem;
        color: black;
    }

    ion-col#ClassListPane h2 {
        text-align: center;
        padding-top: 10px;
        font-size: 1em;
    }

    ion-col#ChatPane{
        width: 100%;
        height: 100%;
        position: relative;
        left: 0;
        right: 0;
        margin: auto;
    }

    button#SendBtn{
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0;
    }


}
