indexlandingpagemodal {
    @import url('https://fonts.googleapis.com/css?family=Nunito:800');
    font-family: Nunito, Arial, San-Serif;
    
    .content {
        height: 100%;
        width: 100%;
    }
    .description {
        padding: 16px;
        font-size: 1.4em;
    }

    .container {
        position: absolute;
        width: 100%;
    }

    video {
    }

    img {
        
    }
}   
