<!-- Generated template for the StudentlistComponent component -->
<div>
  <div id="Title">Student List</div>
  <button showWhen="android,ios" id="DismissBtn" clear ion-button (click)="dismiss()">
    <ion-icon ios="ios-close-circle" md="md-close-circle"></ion-icon>
  </button>
  <!-- <img src="assets/imgs/placeholder-list.png" /> -->
  <ion-list [virtualScroll]="classlist_obvs | async" [virtualTrackBy]="trackByFn" [approxItemHeight]="20">
    <ion-item *virtualItem="let student">
      <span>{{student.username}} {{student.uid}} test</span>
    </ion-item>
  </ion-list>
</div>


<!-- {{text}} -->