studentlist {
    background-color: white;
    overflow: auto;


    #DismissBtn{
        font-size: 1.8rem;
        color: rgb(0, 110, 255);
    }

  .toolbar-background {
      background-color: white;
  }
    
    ion-avatar {
        background-color: rgb(0, 92, 191);
        border-radius: 5px;
    }

}
