studentlist {
    background-color: white;

    button#DismissBtn {
        top:10px;
        position: absolute;
        right: 0;
        font-size: 2.4rem;
        padding: 5px;
    }

    div#Title{
        margin-top: 20px;
        font-size: 22px;
        padding: 20px;
    }

}
