page-signup {
    ion-grid#signup-grid {
        height: 100%;
    }

    ion-col#splash-image {
        height: 100vh;
        width: 100%;
        background-color: rgb(144, 227, 252);
    }

    div#app-logo{
        height: 20%;
        width: 100%;
        background-color: rgb(116, 235, 169);

    }

}
