coursepicker {
    background-color: white;
    .toolbar-background {
        background-color: white;
    }

    #DismissBtn{
        font-size: 1.8rem;
        color: rgb(0, 110, 255);
    }
    
    form{
        height: 75%;
        overflow: auto;
    }

    div#BtnGroup {
        padding: 20px;
        bottom: 0;
        position: fixed;
        width: 100%;
    }

}
